<!DOCTYPE html>
<html lang="uz">
<head>
    <title>Sertifikat</title>
    <style>
        @page {
            size: A4;
            margin: 0;
        }

        @font-face {
            font-family: 'DejaVu Sans';
            src: url('{{ font_url }}');
        }

        body {
            font-family: "DejaVu Sans", sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

    <img src="{{ bg_url }}" class="certificate-bg">

    <div class="certificate-container">
        <h1>This is a Heading</h1>
        <p>This is a paragraph.</p>
        <p>Рейки нивелирные инварные(TEST)</p>
        a{{ qr_url }}
        a{{ font_url }}
         a{{ bg_url }}
        <div class="qr-code">
            <img src="{{ qr_url }}" alt="QR Code" style="width: 80px; height: 80px;">
        </div>
    </div>

</body>
</html>